{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% load static %}
{% block header %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <meta charset="UTF-8">
{% endblock %}
{% block content %}
<video width="500" height="300" autoplay="autoplay" loop="loop" >
    <source src={% static '/blog/img/1.mp4' %} type="video/mp4">
</video>
    <body style="background-image: url({% static 'blog/img/2.jpg' %});
                    background-size:100% 100%;background-repeat:no-repeat;">
{% endblock %}
{% block sidebar %}
    {% with request.user.username|add:linktype as cachekey %}
        {% cache 36000 sidebar cachekey %}
            {% load_sidebar user linktype %}
        {% endcache %}
    {% endwith %}
{% endblock %}