{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}
{% load static %}
    <title>热门奶茶 | {{ SITE_DESCRIPTION }}</title>

    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <meta charset="utf-8">

{% endblock %}
{% block content %}
    <body style="background-image: url({% static 'blog/img/5.jpg' %})">
    <div id="primary" class="site-content">
        <div id="content" role="main">


            <header class="archive-header">

                <p class="archive-title">热门奶茶</p>
            </header><!-- .archive-header -->
            <div class="entry-content">

                <a style="margin-left: 70px"></a>
                珍珠奶茶
                <a style="margin-right: 300px"> </a>
                coco奶茶
                <img width="200" height="200" src={% static 'blog/img/3.png'%}>
                <a style="margin-right: 150px"></a>
                <img width="200" height="200" src={% static 'blog/img/4.png'%}> <br>

            </div>
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}

{% block sidebar %}
    {% load_sidebar user 'i' %}
{% endblock %}

